@model FundsManager.Models.Process_Respond

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Process_Respond</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.pr_apply_number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pr_apply_number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pr_user_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pr_user_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pr_number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pr_number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pr_time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pr_time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pr_content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pr_content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pr_state)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pr_state)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.pr_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
