@model FundsManager.ViewModels.FundsListView

@{
    ViewBag.Title = FundsManager.Controllers.SiteInfo.getSiteName() + "经费列表";
    List<FundsManager.ViewModels.mFundsListModel> mFunds = Model.managerFunds;
    List<FundsManager.ViewModels.uFundsListModel> uFunds = Model.useFunds;
}

<div class="col-md-10 err" style="color:red;width:100%;text-align:center;">
    @ViewBag.msg
</div>
@if (mFunds != null)
{
    <h4>管理的经费列表</h4>
<table class="table">
    <tr>
        <th>
           经费代码
        </th>
        <th>
            经费名称
        </th>
        <th>
            经费总额
        </th>
        <th>
            经费余额
        </th>
        <th>
            状态
        </th>
        <th>
            已申请数
        </th>
        <th>申请总额</th>
        <th>
            结算时间
        </th>
        <th>操作</th>
    </tr>

@foreach (var item in mFunds)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.balance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.strState)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.userCount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.applyamount)
            
        </td>
        <td>
            @Html.ActionLink("详细", "Edit", new { id = item.id }, new { @class = "btn btn-info" })
            <a href="javascript:void(0);" class="btn btn-default" onclick="DelFunds(@item.id)">删除</a>
        </td>
    </tr>
}

</table>
}

@if (uFunds != null && uFunds.Count() > 0)
{
    <hr />
    <h4>使用的经费列表</h4>

    <table class="table">
        <tr>
            <th>经费代码</th>
            <th>
                经费名称
            </th>
            <th>
                管理员
            </th>
            <th>
                经费总额
            </th>
            <th>
                结算时间
            </th>
        </tr>

        @foreach (var item in uFunds)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.managerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.amount)
                </td>
            </tr>
        }

    </table>
}
<script src="~/scripts/jquery-3.2.1.min.js"></script>
<script>
    function DelFunds(id) {
        if (!confirm("是否删除该经费？删除后将无法恢复。")) return;
        $.post("@Url.RouteUrl(new { controller = "FundsManager", action = "Delete" })", { fid: id }, function (data) {
            if (data.state == 1) {
                alert('删除成功。');
                window.location.reload();
            }else
            {
                $('.err').text(data.msg_text);
            }
        }).fail(function (err) {
            alert(err.status+':'+err.statusText);
        });
    }
</script>