@model IEnumerable<FundsManager.Models.Funds>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.f_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.f_source)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.f_amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.f_balance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.f_manager)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.f_info)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.f_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.f_source)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.f_amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.f_balance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.f_manager)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.f_info)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.f_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.f_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.f_id })
        </td>
    </tr>
}

</table>
