@model FundsManager.ViewModels.FundsListView

@{
    ViewBag.Title = FundsManager.Controllers.SiteInfo.getSiteName() + "经费列表";
    List<FundsManager.ViewModels.mFundsListModel> mFunds = Model.managerFunds;
    List<FundsManager.ViewModels.uFundsListModel> uFunds = Model.useFunds;
}

<h2>经费列表</h2>
<hr />
@if (mFunds != null)
{
<table class="table">
    <tr>
        <th>
           ID
        </th>
        <th>
            经费名称
        </th>
        <th>
            经费总额
        </th>
        <th>
            经费余额
        </th>
        <th>
            状态
        </th>
        <th>
            已申请数
        </th>
        <th>申请总额</th>
        <th>
            结算时间
        </th>
        <th></th>
    </tr>

@foreach (var item in mFunds)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.balance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.strState)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.userCount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.applyamount)
            
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.expireDate)
            
        </td>
        <td>
            @Html.ActionLink("编辑", "Edit", new { id = item.id }) |
            @Html.ActionLink("详细", "Details", new { id = item.id }) |
            @Html.ActionLink("删除", "Delete", new { id = item.id })
        </td>
    </tr>
}

</table>
}

@if (uFunds != null)
{
    <table class="table">
        <tr>
            <th>
                经费名称
            </th>
            <th>
                管理员
            </th>
            <th>
                经费总额
            </th>
            <th>
                结算时间
            </th>
        </tr>

        @foreach (var item in uFunds)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.managerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.expireDate)
                </td>
            </tr>
        }

    </table>
}