<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link href="~/content/screen.min.css" rel="stylesheet" />
    <style>
        .col-sm-4 {
            width: 100%;
            box-sizing: border-box;
        }

        .col-md-4 {
            width: 200px;
        }

        .sidebar .widget {
            padding: 0px;
            width: 200px;
        }

        .container-fluid {
            margin-left: 220px;
            margin-right: 0px;
            padding: 0px;
        }

        .col-md-8 {
            padding: 0px;
        }

        .main-content {
            background-color: white;
            padding: 20px 10px 20px 10px;
        }

        .menu li {
            font-weight: bold;
        }

        .col-xs-12 h1 {
            text-align: left;
            padding-left: 220px;
        }

        .main-navigation .menu {
            text-align: left;
            padding-left: 185px;
        }.content-wrap .container{
            width:100%;
        }
    </style>
</head>
<body>
    @RenderPage("_top.cshtml")
    <section class="content-wrap">
        <div class="container">
            <div class="row">
                <aside class="col-md-4 sidebar">
                    @RenderPage("_logout.cshtml")
                    <div class="widget">
                        <div class="list-group">
                            @Html.RouteLink("网站设置", new { controller = "SystemSet", action = "SiteSet"}, new { @class = "list-group-item SiteSet" })
                            @Html.RouteLink("版块管理", new { controller = "SystemSet", action = "ContrlModule" }, new { @class = "list-group-item Module" })
                            @Html.RouteLink("职务管理", new { controller = "SystemSet", action = "Post" }, new { @class = "list-group-item Post" })
                            @Html.RouteLink("部门管理", new { controller = "SystemSet", action = "Department" }, new { @class = "list-group-item Department" })
                            @Html.RouteLink("角色管理", new { controller = "SystemSet", action = "Role" }, new { @class = "list-group-item Role" })
                            @Html.RouteLink("日志查询", new { controller = "SystemSet", action = "Logs" }, new { @class = "list-group-item Logs" })
                        </div>
                    </div>
                </aside>

                <div class="container-fluid">
                    <main class="col-md-8 main-content" style="min-height:500px;">
                        @RenderBody()
                    </main>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
<script src="~/scripts/jquery-3.2.1.min.js"></script>
<script>
    $(function () {
        var w = $('.content-wrap').width();
        $('.col-md-8').width(w - 255);
    });
</script>
