<header class="main-header" style="background-color:RGB(68,152,218)">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>@FundsManager.Controllers.SiteInfo.getSiteName()</h1>
            </div>
        </div>
    </div>
</header>
<nav class="main-navigation">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="navbar-header">
                    <span class="nav-toggle-button collapsed" data-toggle="collapse" data-target="#main-menu">
                        <span class="sr-only">Toggle navigation</span>
                        <i class="fa fa-bars"></i>
                    </span>
                </div>
                <div class="collapse navbar-collapse" id="main-menu">
                    <ul class="menu">
                        <li role="presentation">
                            <a href="@Url.RouteUrl(new { controller = "Home",action="Index" })" title="首页">首页</a>
                        </li>
                        @if(Session["ControlRoles"] != null){ 
                        if(((string[])Session["ControlRoles"]).Contains("SystemSet"))
                        {
                            <li role="presentation">
                                <a href="@Url.RouteUrl(new { controller = "SystemSet", action = "SiteInfo"})" title="系统设置" target="_top">系统设置</a>
                            </li>
                        }
                        if (((string[])Session["ControlRoles"]).Contains("UserManager"))
                        {
                            <li role="presentation"><a href="@Url.RouteUrl(new { controller = "UserManager",action="Index" })" title="用户管理" target="_top">用户管理</a></li>
                        }
                        if (((string[])Session["ControlRoles"]).Contains("FundsManager"))
                        {
                        <li role="presentation"><a href="@Url.RouteUrl(new { controller = "FundsManager",action="Index" })" title="经费管理" target="_top">经费管理</a></li>
                        }
                        if (((string[])Session["ControlRoles"]).Contains("RespondManager"))
                        {
                        <li role="presentation"><a href="@Url.RouteUrl(new { controller = "RespondManager",action= "Index" })" title="批复管理" target="_top">批复管理</a></li>
                            }
                            if (((string[])Session["ControlRoles"]).Contains("ApplyManager"))
                            {
                                <li role="presentation"><a href="@Url.RouteUrl(new { controller = "ApplyManager",action= "Index" })" title="申请管理" target="_top">申请管理</a></li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>
