@model IEnumerable<FundsManager.ViewModels.ModuleInfo>

@{
    ViewBag.Title = FundsManager.Controllers.SiteInfo.getSiteName() + "模块设置";
    Layout = "~/Views/Shared/_systemset.cshtml";
}
<style>
    .in-lab{
        float:left;
        display:inline-block;
        width:100px;
        
    }
    .in-lab span,.in-lab label{
        float:left;
        display:inline-block;
        width:auto;
        padding:0px;
        height:50px;
        line-height:50px;
    }
    .table .in-lab label{padding-top:0px;}
    .table th{text-align:center;}
    .form-horizontal .form-group{margin-left:2px;margin-right:2px;}
</style>
<h2>模块设置</h2>

<div class="col-md-10" style="color:red;width:100%;text-align:center;">
    @ViewBag.msg
</div>
@using (Html.BeginForm("SystemSet", "Module", Model,FormMethod.Post,null))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">

        <div class="form-group">
            <table class="table">
                <tr>
                    <th width="20%">
                        模块名称
                    </th>
                    <th width="25%">访问权限</th>
                    <th width="40%">模块描述</th>
                    <th width="15%">操作</th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr class="tr-c">
                        @Html.HiddenFor(Itemmodel=>item.id)
                        @Html.HiddenFor(Itemmodel=>item.hasChange)
                        <td>
                            @Html.EditorFor(Itemmodel => item.name, new { htmlAttributes = new { @class = "form-control",Readonly="Readonly" } })
                            @Html.ValidationMessageFor(Itemmodel => item.name, "", new { @class = "text-danger" })
                        </td>
                        <td>
                            @foreach (var citem in item.roles)
                            {
                                var id = "rlab" + @item.id + "_" + @citem.id;
                                <div class="in-lab"> <span> @Html.CheckBoxFor(cmodel => citem.hasrole, new {Value= @citem.id, id = @id, onchange = "SetChange(this);" }) </span> <label class = "control-label col-md-2" for = "@id">@citem.name</label></div>
                            }
                        </td>
                        <td>
                            @Html.EditorFor(Itemmodel => item.info, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(Itemmodel => item.info, "", new { @class = "text-danger" })
                        </td>
                        <td style="text-align:center;">
                            <a href="javascript:void(0);" class="btn btn-default" onclick="DelFunds(@item.id)">删除</a>
                        </td>
                    </tr>
                }

            </table>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" value="保存更改" class="btn btn-default" onclick="Edit()" />
            </div>
        </div>
    </div>
}
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script>
    function DelFunds(id) {
        if (!confirm("是否删除该部门/科室？删除后将无法恢复。")) return;
        $.post("@Url.RouteUrl(new { controller = "SystemSet", action = "DeleteDept" })", { pid: id }, function (data) {
            if (data.state == 1) {
                alert('删除成功。');
                window.location.href="@Url.RouteUrl(new { controller = "SystemSet", action = "Department" })";
            }else
            {
                $('.err').text(data.msg_text);
            }
        }).fail(function (err) {
            alert(err.status+':'+err.statusText);
        });
    }
    function SetChange(obj) {
        $(obj).parent().parent().parent().parent().find('#item_hasChange').val(1);
    }
    function Edit() {
        if (!confirm("是否确认当前修改？。")) return;
        var list = new Array();
        var trs = $('.tr-c');
        var len = trs.length;
        var hasChange;
        var minfo, roles,boxes,rinfo;
        for (var i = 0; i < len; i++) {
            var tr = $(trs[i]);
            hasChange = tr.find('#item_hasChange').val();
            if (hasChange == "1") {
                minfo = new Object();
                minfo.id = parseInt(tr.find('#item_id').val());
                minfo.info = tr.find('#item_info').val();
                minfo.name = tr.find('#item_name').val();
                roles = new Array();
                boxes = tr.find('input[type="checkbox"]:checked');
                if (boxes.length > 0) {
                    for (var j = 0; j < boxes.length; j++) {
                        rinfo=new Object();
                        rinfo.id = parseInt(boxes[j].value);
                        rinfo.hasrole = true;
                        roles.push(rinfo);
                    }
                    minfo.roles = roles;
                }
                list.push(minfo);
            }
        }
        var data = new Object();
        data.modules = list;
        $.post("@Url.RouteUrl(new { controller = "SystemSet", action = "ContrlModule" })", data, function (data) {
            if (data.state == 1) {
                alert('更新成功。');
                window.location.href="@Url.RouteUrl(new { controller = "SystemSet", action = "ContrlModule" })";
            }else
            {
                $('.err').text(data.msg_text);
            }
        }).fail(function (err) {
            alert(err.status+':'+err.statusText);
        });
    }
</script>