@model FundsManager.ViewModels.DepartMentModel
@{
    ViewBag.Title = FundsManager.Controllers.SiteInfo.getSiteName() + "-部门科室设置";
    List<FundsManager.ViewModels.DepartMentModel> list = ViewData["DeptList"] as List<FundsManager.ViewModels.DepartMentModel>;
}
<style>
    .form-control{width:200px;display:inline-block;}
    .displayN{display:none;}
</style>
<h4>部门科室设置</h4>

<div class="col-md-10 msg" style="color:red;width:100%;text-align:center;">
    <div class="alert alert-danger err displayN" role="alert">
        @ViewBag.msg
    </div>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.deptName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.parentId,ViewBag.Dept as List<SelectListItem>,"--请选择--", new { @class = "select form-control" })
                @Html.ValidationMessageFor(model => model.parentId, "", new { @class = "text-danger" })

                @Html.EditorFor(model => model.deptName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.deptName, "", new { @class = "text-danger" })
                <input type="submit" value="添加部门/科室" class="btn btn-default" />
            </div>
        </div>
    </div>
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-10">
                <table class="table table-bordered">
                        <tr>
                            <th>
                                ID
                            </th>
                            <th>
                                部门名称
                            </th>
                            <th>
                                上级部门名称
                            </th>
                            <th>
                                操作
                            </th>
                        </tr>
                    @if (list != null && list.Count() > 0)
                    {
                        foreach (var item in list)
                        {
                        <tr>
                            <td>@item.deptId</td>
                            <td><span class="td-date" id="name_@item.deptId">@item.deptName</span></td>
                            <td><span class="td-date" id="father_@item.deptId">@item.parentName</span><input type="hidden" id="hid_@item.deptId" value="@item.parentId" /></td>
                            <td><a href="javascript:void(0);" class="vi1 btn btn-default" onclick="DelFunds(@item.deptId)">删除</a>&nbsp;<a href="javascript:void(0);" class="vi1 btn btn-info" onclick="EditRow(@item.deptId)">编辑</a>
                                <a href="javascript:void(0);" class="vi2 btn btn-success displayN" onclick="Save(@item.deptId)">保存</a>&nbsp;<a href="javascript:void(0);" class="vi2 btn btn-warning displayN" onclick="Cancel(@item.deptId)">取消</a>
                            </td>
                        </tr>
                            }

                        }
                        else
                        {
                        <tr>
                            <td colspan="4">当前没有数据</td>
                        </tr>
                        }
                </table>
            </div>
        </div>
    </div>
}
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/alert.js"></script>
<script>
    function DelFunds(id) {
        if (!confirm("是否删除该部门/科室？删除后将无法恢复。")) return;
        $.post("@Url.RouteUrl(new { controller = "SystemSet", action = "DeleteDept" })", { pid: id }, function (data) {
            if (data.state == 1) {
                alert('删除成功。');
                window.location.href="@Url.RouteUrl(new { controller = "SystemSet", action = "Department" })";
            }else
            {
                $.ShowMsg(data.msg_text);
            }
        }).fail(function (err) {
            $.ShowMsg(err.status + ':' + err.statusText);
        });
    }
    function EditRow(id){
        //名称列处理
        var nameTD=$('#name_'+id).parent();
        var input,inputId='txtName'+id;
        input = $('#'+inputId);
        if (input.length > 0) {
            input.removeClass('displayN');
        }else{
            nameTD.append($('<input class="form-control text-box single-line" id="' + inputId + '" name="' + inputId + '" type="text" value="' + $('#name_' + id).text() + '">'))
        }
        $('#name_' + id).addClass('displayN');

        //上级目录列处理
        var fatherTD=$('#father_'+id).parent();
        var select, selectId = 'select' + id;
        select = $('#'+selectId);
        if(select.length>0)select.removeClass('displayN');
        else{
            select = $('#parentId').clone();
            select.attr('id', selectId);
            select.attr('name','select'+id);
            fatherTD.append(select);
        }
        $('#father_' + id).addClass('displayN');
        var fid = $('#hid_' + id).val();
        if (fid) $('#' + selectId).val(fid);
        //按钮列处理
        $('.vi1').addClass('displayN');
        $('.vi2').removeClass('displayN');

        $('#'+inputId).focus();
    }
    function Save(id){
        var obj=new Object();
        obj.deptId=id;
        obj.deptName=$('#txtName'+id).val();
        var pid=$('#select' + id).val();
        if(pid)
            obj.parentId = pid;
        $.post("@Url.RouteUrl(new { controller = "SystemSet", action = "UpdateDept" })", obj, function (data) {
            if (data.state == 1) {
                $.ShowMsg('修改成功。');
                window.location.href="@Url.RouteUrl(new { controller = "SystemSet", action = "Department" })";
            }else
            {
                $.ShowMsg(data.msg_text);
            }
        }).fail(function (err) {
            $.ShowMsg(err.status + ':' + err.statusText);
        });
    }
    function Cancel(id){
        $('.vi2').addClass('displayN');
        $('.vi1').removeClass('displayN');
        $('#name_' + id).removeClass('displayN');
        $('#txtName' + id).addClass('displayN');

        $('#father_' + id).removeClass('displayN');
        $('#select' + id).addClass('displayN');
    }
</script>