@model FundsManager.Models.Dic_Post
@{
    ViewBag.Title = FundsManager.Controllers.SiteInfo.getSiteName() + "-职务设置";
    List<FundsManager.Models.Dic_Post> list = ViewData["PostList"] as List<FundsManager.Models.Dic_Post>;
}
<style>
    .form-control{width:200px;display:inline-block;}
     .displayN{display:none;}
</style>
<h4>职务表</h4>

<div class="col-md-10" style="color:red;width:100%;text-align:center;">
    <div class="alert alert-danger err displayN" role="alert">
        @ViewBag.msg
    </div>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.post_name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.post_name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.post_name, "", new { @class = "text-danger" })
                <input type="submit" value="添加职务" class="btn btn-default" />
            </div>
        </div>
    </div>
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-10">
                <table class="table table-bordered">
                        <tr>
                            <th>
                                ID
                            </th>
                            <th>
                                职务名称
                            </th>
                            <th>
                                操作
                            </th>
                        </tr>
                    @if (list != null && list.Count() > 0)
                    {
                        foreach (var item in list)
                        {
                        <tr>
                            <td>@item.post_id</td>
                            <td><span class="td-date" id="name_@item.post_id">@item.post_name</span></td>
                            <td><a href="javascript:void(0);" class="vi1 btn btn-default" onclick="DelFunds(@item.post_id)">删除</a>&nbsp;<a href="javascript:void(0);" class="vi1 btn btn-info" onclick="EditRow(@item.post_id)">编辑</a>
<a href="javascript:void(0);" class="vi2 btn btn-success displayN" onclick="Save(@item.post_id)">保存</a>&nbsp;<a href="javascript:void(0);" class="vi2 btn btn-warning displayN" onclick="Cancel(@item.post_id)">取消</a></td>
                        </tr>
                            }

                        }
                        else
                        {
                        <tr>
                            <td colspan="2">当前没有数据</td>
                        </tr>
                        }
                </table>
            </div>
        </div>
    </div>
}
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/alert.js"></script>
<script>
    function DelFunds(id) {
        if (!confirm("是否删除该职务？删除后将无法恢复。")) return;
        $.post("@Url.RouteUrl(new { controller = "SystemSet", action = "DeletePost" })", { pid: id }, function (data) {
            if (data.state == 1) {
                alert('删除成功。');
                window.location.href="@Url.RouteUrl(new { controller = "SystemSet", action = "Post" })";
            }else
            {
                $.ShowMsg(data.msg_text);
            }
        }).fail(function (err) {
            $.ShowMsg(err.status + ':' + err.statusText);
        });
    }
    function EditRow(id){
        //名称列处理
        var nameTD=$('#name_'+id).parent();
        var input,inputId='txtName'+id;
        input = $('#'+inputId);
        if (input.length > 0) {
            input.removeClass('displayN');
        }else{
            nameTD.append($('<input class="form-control text-box single-line" id="' + inputId + '" name="' + inputId + '" type="text" value="' + $('#name_' + id).text() + '">'))
        }
        $('#name_' + id).addClass('displayN');

        //按钮列处理
        $('.vi1').addClass('displayN');
        $('.vi2').removeClass('displayN');

        $('#'+inputId).focus();
    }
    function Save(id){
        var obj=new Object();
        obj.post_id = id;
        obj.post_name = $('#txtName' + id).val();
        
        $.post("@Url.RouteUrl(new { controller = "SystemSet", action = "UpdatePost" })", obj, function (data) {
            if (data.state == 1) {
                alert('修改成功。');
                window.location.href="@Url.RouteUrl(new { controller = "SystemSet", action = "Post" })";
            }else
            {
                $.ShowMsg(data.msg_text);
            }
        }).fail(function (err) {
            $.ShowMsg(err.status + ':' + err.statusText);
        });
    }
    function Cancel(id){
        $('.vi2').addClass('displayN');
        $('.vi1').removeClass('displayN');
        $('#name_' + id).removeClass('displayN');
        $('#txtName' + id).addClass('displayN');

        $('#father_' + id).removeClass('displayN');
        $('#select' + id).addClass('displayN');
    }
</script>