@model IEnumerable<FundsManager.ViewModels.ApplyFundsManager>

@{
    ViewBag.Title = FundsManager.Controllers.SiteInfo.getSiteName() + "经费申请结果";
}
<style>
    .form-group {
    }

    .col-md-10 {
        margin-top: 15px;
        font-size:15px;
   width:auto;}
    .alert{width:100%;}
    .w100{width:100%;}
    .bold{font-weight:bold;}
</style>

<h4>经费申请结果</h4>
<hr />
<div>
    <div class="form-group">
        <div class="col-md-10 alert">
            <div id="div-res" class="bold"></div>
        </div>
    </div>
    @if (Model != null && Model.Count() > 0)
    {
        foreach (var item in Model)
        {
            <div class="form-group">
                <div class="col-md-10 form-res">

                    <div class="bold">子申请单号：@item.Cnumber</div>
                    <div>申请单状态： @item.strState</div>
                    @if (item.processList != null)
                    {
                        foreach (var citem in item.processList)
                        {
                            <div>
                                @citem.number<span>. </span>@citem.user (
                                @if (citem.state == 1)
                                {
                                    @citem.strState <span>批复时间：</span>@citem.strTime
                                }
                                else
                                {
                                    @citem.strState
                                }
                                )
                            </div>
                        }
                    }
                </div>
            </div>
        }
    }
    <div class="form-group">
        <div class="col-md-10 w100">
            @Html.ActionLink("返    回", "MyFunds", null, new { @class = "btn btn-warning" })
        </div>
    </div>
</div>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script>
    $(function () {
        var res = '@ViewBag.number';
        if (res) {
            $('#div-res').text('订单提交成功，当前订单号为：' + res);
            $('.alert').addClass('alert-success');
        }
        else {
            $('#div-res').val('订单提交失败，请重新申请。');
            $('.alert').addClass('alert-danger');
        }
    });
</script>