@model IEnumerable<FundsManager.ViewModels.ApplyFundsManager>

@{
    ViewBag.Title = FundsManager.Controllers.SiteInfo.getSiteName() + "经费详细";
}
<style>
    .form-group {
    }

    .col-md-10 {
        margin-top: 15px;
        font-size: 15px;
    }
</style>

<h4>经费详细</h4>
<hr />
<div>
    <div class="form-group">
        <div class="col-md-10 alert">
            <div id="div-res">经费申请单号：@ViewBag.number</div>
        </div>
    </div>
    @if (Model != null && Model.Count() > 0)
    {
        foreach (var item in Model)
        {
            <div class="form-group">
                <div class="col-md-10 form-res">

                    <div>子申请单号：@item.Cnumber</div>
                    <div>申请单状态： @item.strState</div>
                    @if (item.processList != null)
                    {
                        string color = "", display = "";
                        foreach (var citem in item.processList)
                        {
                            <div>
                                @citem.number<span>. </span>@citem.user (
                                @if (@citem.state == 1)
                                {color = "green";
                                    display = "display:none;";
                                }
                                else if (citem.state == 2)
                                {color= "red";
                                    display = "";
                                }
                                else
                                {color = "#FF8C00";
                                    display = "display:none;";
                                }
                                <font style="color:@color">
                                    @citem.strState
                                </font> <span>批复时间：</span>@citem.strTime<span style="@display">，原因： @citem.content</span>

                                )
                            </div>
                        }
                    }
                </div>
            </div>
        }
    }
    <div class="form-group">
        <div class="col-md-10">
            @Html.ActionLink("返    回", "MyFunds", null, new { @class = "btn btn-warning" })
        </div>
    </div>
</div>