@model IEnumerable<FundsManager.ViewModels.ApplyListModel>

@{
    ViewBag.Title  = FundsManager.Controllers.SiteInfo.getSiteName() + "待批复经费列表";
}

<hr />

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model=>model.number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.strState)
        </th>
        <th>操作</th>
    </tr>
@if (Model != null && Model.Count() > 0)
{
foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.strState)
        </td>
        <td>
            @Html.ActionLink("详细", "Details", new { id = item.number }) |
            @Html.ActionLink("撤消", "Delete", new { id = item.number })
        </td>
    </tr>
}
}else
{
    <tr><td colspan="5" align="center">当前没有待批复的申请</td></tr>
}
</table>
