@model IEnumerable<FundsManager.ViewModels.ApplyListModel>

@{
    ViewBag.Title  = FundsManager.Controllers.SiteInfo.getSiteName() + "我的经费列表";
}
<style>
    #msg{display:none;}
    .table .table tbody tr td, .table .table tbody tr th, .table .table tfoot tr td, .table .table tfoot tr th, .table .table thead tr td, .table .table thead tr th{border-top:none;}
</style>
<h4>我的经费列表</h4>
<div class="col-md-10" id="msg">
    @ViewBag.msg
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model=>model.number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.time)
        </th>
        <th>订单状态</th>
        <th class="th-no">
            子申请单号
        </th>
        <th class="th-co">经费代码</th>
        <th class="th-am">
            金额
        </th>
        <th class="th-st">
            状态
        </th>
        <th class="th-do">子操作</th>

        <th>操作</th>
    </tr>
@if (Model != null && Model.Count() > 0)
{
foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.time)
        </td>
        <td>
            @item.strState
        </td>
        <td colspan="5">
            <table class="table">
                @if (item.child != null && item.child.Count() > 0)
                {
                    foreach (var citem in item.child)
                    {
                        <tr>
                            <td class="td-no">
                                @citem.Cnumber
                            </td>
                            <td class="td-co">
                                @citem.fundsCode
                            </td>
                            <td class="td-am">
                                @citem.amount
                            </td>
                            <td class="td-st">
                                @citem.strState
                            </td>
                            <td class="td-do">
                                <a href="javascript:void(0);" onclick="DelCApply('@citem.Cnumber')">撤销</a>
                            </td>
                        </tr>
                    }
                }
            </table>
           
        </td>
        <td>
            @Html.ActionLink("详细", "Details", new { id = item.number })
        </td>
    </tr>
}
}else
{
    <tr><td colspan="5" align="center">当前没有待批复的申请</td></tr>
}
</table>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script>
    function DelCApply(cnumber) {
        var obj = new Object();
        obj.cnumber = cnumber;
        $.post("@Url.RouteUrl(new {controller= "ApplyManager", action= "Delete" })", obj, function (data) {
            if (data.state == '1') {
                location.reload();
            } else {
                if (data.msg_code == 'nologin') location.href = '@Url.RouteUrl(new { action = "LogOut", controller = "Login"})';
                $('#msg').removeClass();
                $('#msg').addClass('alert alert alert-danger');
                $('#msg').text(data.msg_text);
            }
        });
    }
    $(function () {
        var w = $('.th-no').width();
        $('.td-no').width(w);
        var w = $('.th-co').width();
        $('.td-co').width(w);
        var w = $('.th-am').width();
        $('.td-am').width(w);
        var w = $('.th-st').width();
        $('.td-st').width(w);
        var w = $('.th-do').width();
        $('.td-do').width(w);
    });
</script>