@model IEnumerable<FundsManager.ViewModels.ApplyListModel>

@{
    ViewBag.Title = FundsManager.Controllers.SiteInfo.getSiteName() + "我的经费列表";
}

<hr />
<style>
    .table .table tbody tr td, .table .table tbody tr th, .table .table tfoot tr td, .table .table tfoot tr th, .table .table thead tr td, .table .table thead tr th{border-top:none;}
</style>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.time)
        </th>
        <th>订单状态</th>
        <th class="th-no">
            子申请单号
        </th>
        <th class="th-co">经费代码</th>
        <th class="th-am">
            金额
        </th>
        <th class="th-st">
            状态
        </th>
        <th class="th-no">操作</th>
    </tr>
    @if (Model != null && Model.Count() > 0)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.number)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.time)
                </td>
                <td>
                    @item.strState
                </td>
                <td colspan="4">
                    <table class="table">
                        @if (item.child != null && item.child.Count() > 0)
                        {
                            foreach (var citem in item.child)
                            {
                                <tr>
                                    <td class="td-no">
                                        @citem.Cnumber
                                    </td>
                                    <td class="td-co">
                                        @citem.fundsCode
                                    </td>
                                    <td class="td-am">
                                        @citem.amount
                                    </td>
                                    <td class="td-st">
                                        @citem.strState
                                    </td>
                                </tr>
                            }
                        }
                    </table>
                </td>
                <td>
                    @Html.ActionLink("详细", "Details", new { id = item.number })
                    @if (item.state == 2)
                    {
                        <span>|</span> @Html.ActionLink("修改", "Edit", new { id = item.number })
                    }
                </td>
            </tr>
        }
    }
    else
    {
        <tr><td colspan="8" align="center">当前没有申请的经费</td></tr>
    }
</table>
<script src="~/scripts/jquery-3.2.1.slim.js"></script>
<script>
    $(function () {
        var w = $('.th-no').width();
        $('.td-no').width(w);
        var w = $('.th-co').width();
        $('.td-co').width(w);
        var w = $('.th-am').width();
        $('.td-am').width(w);
        var w = $('.th-st').width();
        $('.td-st').width(w);
    });
</script>