@model IEnumerable<FundsManager.ViewModels.ApplyListModel>

@{
    ViewBag.Title = FundsManager.Controllers.SiteInfo.getSiteName() + "我的经费列表";
}

<hr />

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.time)
        </th>
        <th>
            子申请单号
        </th>
        <th>
            金额
        </th>
        <th>
            状态
        </th>
        <th>操作</th>
    </tr>
    @if (Model != null && Model.Count() > 0)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.number)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.time)
                </td>
                <td>
                    @if (item.childState != null)
                    {
                        foreach (var citem in item.childState)
                        {
                            <div>
                                @citem.childState.Split(',')[0]
                            </div>
                        }
                    }
                </td>
                <td>
                    @if (item.childState != null)
                    {
                        foreach (var citem in item.childState)
                        {
                            <div>
                                @citem.childState.Split(',')[2]
                            </div>
                        }
                    }
                </td>
                <td>
                    @if (item.childState != null)
                    {
                        foreach (var citem in item.childState)
                        {
                            <div>
                                @citem.childState.Split(',')[1]
                            </div>
                        }
                    }
                </td>
                <td>
                    @Html.ActionLink("详细", "Details", new { id = item.number })
                </td>
            </tr>
        }
    }
    else
    {
        <tr><td colspan="5" align="center">当前没有已批复的申请</td></tr>
    }
</table>
